a.book{
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor:pointer;
    color: black;
}
#to-read>li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
